@import "../../styles/variables.scss";
.form-select {
    font-family: var(--font-family-primary);
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
    height: 48px;
    background: var(--white);
    border: var(--border-primary);
    border-radius: var(--border-radius-primary);
    padding: .8rem;
    &::placeholder{
        color: var(--grey-medium);
    }
}